Microprocessor/
Semester\ II/Graph/build/
Semester\ II/Graph/Graph/
.vscode/

# Ignores everything else
*

# Except these files
!.gitignore
!*.c
!*.cpp
!*.java
!*.py
!*.js*
!*.md

# In subdir too
!*/
